@*@model IEnumerable<muntajatyClassicStores.Models.Store>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>لقد تمت الإضافة إلى السلة بنجاح</h2>
<div>
    <spn>Hi</spn>
</div>