@{
    ViewBag.Title = "حول متاجر منتجاتي";
}
<div style="margin:100px 0 100px 0 !important">
    <div class="jumbotron">
        <h1 class="display-4">@ViewBag.Title</h1>
        @*<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>*@
        <hr class="my-4">
        <p>@ViewBag.progInfo.Program_About </p>
        <a class="btn btn-primary btn-lg blue" href="https://programmingknights.netlify.app/" target="_blank" role="button">اقرأ المزيد عن فرسان البرمجة</a>
    </div>
</div>
